@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Deep dark background foundation */
  background-color: #0f172a; /* Slate-900 */
  color: #f8fafc; /* Slate-50 */
}

body {
  margin: 0;
  min-height: 100vh;
}